<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

        <title>test page</title>
        <style>
          div {float: left;}
        </style>
    </head>
    
    <body bgcolor="#cccccc">
      <header>
        <nav class="navbar navbar-light sticky-top" style="background-color: #e3f2fd;">
          <a class="navbar-brand" href="#">78直播</a>
<!--
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
-->
          
          
<!--          <div class="collapse navbar-collapse" id="navbarNavDropdown">-->
            <form class="form-inline">
              <input class="form-control mr-sm-4" type="search" placeholder="找商城、直播主..." aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜尋</button>
            </form>
            
            <ul class="nav justify-content-end">
              <li class="nav-item">
                <a class="nav-link" href="#">註冊</a>
              </li>
              <li class="nav-item">
                <a class="btn btn-primary" href="login.html">登入</a>
              </li>

            </ul>
<!--          </div>-->
          

        </nav>

        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="margin-bottom: 10px">
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="margin-bottom: 10px">
              <img src="img/video.PNG" class="img-fluid" alt="Responsive image"/>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="margin-bottom: 10px">
            </div>
            <nav class="col-md-3 d-none d-md-block sidebar" style="height: 100vh; background-color:gray;">
            
            </nav>
            <div class="col-xs-8 col-sm-6 col-md-4 col-lg-3" style="margin-bottom: 10px">
              <img src="img/video.PNG" class="img-fluid" alt="Responsive image"/>
            </div>
            <div class="col-xs-8 col-sm-6 col-md-4 col-lg-3" style="margin-bottom: 10px">
              <img src="img/video.PNG" class="img-fluid" alt="Responsive image"/>
            </div>
            <div class="col-xs-8 col-sm-6 col-md-4 col-lg-3" style="margin-bottom: 10px">
              <img src="img/video.PNG" class="img-fluid" alt="Responsive image"/>
            </div>
          </div>
        </div>
<!--
        <div style="width: 700px; height: 380px; background-color: gray; margin: 50px auto; margin-left: 250px">VIDEO</div>
        <div style="width: 280px; height: 100vh; background-color: gray; float: right;">Chat</div>
        <div style="width: 200px; height: 200px; background-color: gray; margin-left: 250px">1</div>
        <div style="width: 200px; height: 200px; background-color: gray; margin-left: 25px">2</div>
        <div style="width: 200px; height: 200px; background-color: gray; margin-left: 25px">3</div>
-->

        
      </header>
      
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    </body>
</html>